<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512799676982-p8pe7rr8a09ftobpce99ln05uhiq6o4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512799676982-p8pe7rr8a09ftobpce99ln05uhiq6o4s</string>
	<key>API_KEY</key>
	<string>AIzaSyB1YtHb-0Roc70wZ3u2X0lLFZ1Kh_O679U</string>
	<key>GCM_SENDER_ID</key>
	<string>512799676982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dpfbop.thehat</string>
	<key>PROJECT_ID</key>
	<string>the-hat-26557</string>
	<key>STORAGE_BUCKET</key>
	<string>the-hat-26557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512799676982:ios:e3741c09ddfb23dab15697</string>
	<key>DATABASE_URL</key>
	<string>https://the-hat-26557.firebaseio.com</string>
</dict>
</plist>